body {
    background-color: #000;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 10px;
    position:absolute;
    text-align: center;
    top:66%;
    left:5%;
}

homepage {
    position: absolute;
    top: 0%;
    right: 43%;

    /*Font options*/
    font-family: 'Abel';
    font-size: 20px;
    color: #FFFFFF;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Abel';
    font-size: 8px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    /*Button properties*/
    width:70px;
    height:30px;
}

@media (min-width: 600px) {
    h2 { 
        font-size: 14px;
        position:absolute;
        text-align: center;
        top:66%;
        left:5%;
    }

    homepage {
        position: absolute;
        top: 0%;
        right: 43%;

        /*Font options*/
        font-family: 'Abel';
        font-size: 30px;
        color: #FFFFFF;
    }

    .button {
        background-color: #FFFFFF;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Abel';
        font-size: 11px;
        margin: 3px 1px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;

        /*Button properties*/
        width:100px;
        height:40px;
    }
}

@media (min-width: 1000px) {
    h2 { 
        font-size: 18px;
        position:absolute;
        text-align: center;
        top:66%;
        left:5%;
    }

    homepage {
        position: absolute;
        top: 0%;
        right: 43%;

        /*Font options*/
        font-family: 'Abel';
        font-size: 40px;
        color: #FFFFFF;
    }

    .button {
        background-color: #FFFFFF;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Abel';
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;

        /*Button properties*/
        width:150px;
        height:60px;
    }
}

.resumeButton {
    background-color: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: -60px;
    left: -15%;
}

.resumeButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.readButton {
    background-color: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: -60px;
    left: 55%;
}

.readButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 1590px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.menu {
    position: fixed;
    width:100%;
    height:12%;
    border-style: solid;
    border-color: #FFF;
    border-width: 2px;
    background: transparent;
    font-size: 5px;
    cursor: pointer;
    z-index: 2;
}

img {
    height:20px;
    width:auto;
  }


@media (min-width: 500px) {
  .menu {
      position: fixed;
      width:100%;
      height:12%;
      border-style: solid;
      border-color: #FFF;
      border-width: 3px;
      background: transparent;
      font-size: 10px;
      cursor: pointer;
      z-index: 2;
  }

  img {
    height:40px;
    width:auto;
  }
}

@media (min-width: 1000px) {
  .menu {
      position: fixed;
      width:100%;
      height:12%;
      border-style: solid;
      border-color: #FFF;
      border-width: 5px;
      background: transparent;
      font-size: 15px;
      cursor: pointer;
      z-index: 2;
  }

  img {
    height:80px;
    width:auto;
  }
}

.menu:hover {
    background-color: #FFFFFF;
    color: black;
}

.software {
    bottom: 68%;
    transition: all 1s;
}

.hardware {
    bottom: 53%;
    transition: all 1.25s;
}

.aboutMe {
  bottom: 38%;
  transition: all 1.5s;
}

.gallery {
  bottom: 23%;
  transition: all 1.75s;
}

.goUp {
  position: fixed;
  bottom: 84%;
  padding:10% 0 0 47%;
  background: transparent;
  z-index: 2;
  transition: opacity 1.5s linear;
  cursor: pointer;
}

.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}

.footer {
    position: absolute;
    top: 1600px;
}

.header {
    position: fixed;
    top: 0%;
  }
