body {
    background-color: #000;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
    position:absolute;
    text-align: center;
    top:138px;
    left:20px;
}

homepage {
    position: absolute;
    top: -20px;
    right: 43%;

    /*Font options*/
    font-family: 'Abel';
    font-size: 40px;
    color: #FFFFFF;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Abel';
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    /*Button properties*/
    width:150px;
    height:60px;
}

.resumeButton {
    background-color: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: -60px;
    left: -15%;
}

.resumeButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.readButton {
    background-color: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: -60px;
    left: 55%;
}

.readButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 1590px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.softwareMenu {
    position: fixed;
    bottom: 650px;
    width: 100%;
    height: 100px;
    border-style: solid;
    border-color: #FFF;
    border-width: 5px;
    background: transparent;
    font-size: 15px;
    transition: all 1s; 
    cursor: pointer;

    z-index: 2;
}

.softwareMenu:hover {
    background-color: #FFFFFF;
    color: black;
}

.hardwareMenu {
    position: fixed;
    bottom: 525px;
    width: 100%;
    height: 100px;
    border-style: solid;
    border-color: #FFF;
    border-width: 5px;
    background: transparent;
    transition: all 1.25s;
    font-size: 15px;
    cursor: pointer;

    z-index: 2;
}

.hardwareMenu:hover {
  background-color: #FFFFFF;
  color: black;
}

.aboutMeMenu {
  position: fixed;
  bottom: 400px;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-color: #FFF;
  border-width: 5px;
  background: transparent;
  transition: all 1.5s;
  font-size: 15px;
  cursor: pointer;

  z-index: 2;
}

.aboutMeMenu:hover {
  background-color: #FFFFFF;
  color: black;
}

.galleryMenu {
  position: fixed;
  bottom: 275px;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-color: #FFF;
  border-width: 5px;
  background: transparent;
  transition: all 1.75s;
  font-size: 15px;
  cursor: pointer;

  z-index: 2;
}

.galleryMenu:hover {
  background-color: #FFFFFF;
  color: black;
}

.goUp {
  position: fixed;
  bottom: 800px;
  padding:500px 0 0 790px;
  background: transparent;
  z-index: 2;
  transition: opacity 1.5s linear;
  cursor: pointer;
}

.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}

.footer {
    position: fixed;
    bottom: 50px;
}

.header {
    position: fixed;
    top: 0px;
}
