@media (max-height:600px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 1200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 600px) and (max-height:800px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 1600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 800px) and (max-height:1000px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 2000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 1000px) and (max-height:1200px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 2400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 1200px) and (max-height:1400px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 2800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 1400px) and (max-height:1600px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 3200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media (min-height: 1600px) and (max-height:1800px) {
  .parallax {
    background-image: url("calvin&hobbes.jpg");

    /* Set a specific height */
    min-height: 3600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

body {
    background-color: #000;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
  text-align: center;
  position:relative;
  top:-5vh;
  font-size: 9vh;
}

h2 {
  text-align: center;
  position:relative;
  top:-11vh;
  font-size: 2vh;
}

h3 {
  text-align: center;
  position:relative;
  font-size: 4vh;
}

h4 {
  text-align: center;
}

.heading {
  width:100%;
  height:24vh;
  position:absolute;
  top:50%;
  margin-top: -45vh;

  z-index: 2;

  /*Font options*/
  font-family: 'Abel';
  color: #FFFFFF;
}

.buttons {
  position:absolute;
  height:100vh;
  width:20vw;
  left:50%;
  margin-left:-10vw;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Abel';
    font-size: 0.9vw;

    /*Button properties*/
    width:8vw;
    height:4vw;

    z-index: 3;
}

.resumeButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 71%;
  left:1vw;
}

.resumeButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.readButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 71%;
  right: 1vw;
}

.readButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.menu {
    position: fixed;
    width:100%;
    height:11vh;
    border-style: solid;
    border-color: #FFF;
    border-width: 0.5vh;
    background: transparent;
    font-size: 0.6vh;
    cursor: pointer;
    z-index: 3;

    /*Font options*/
    font-family: 'Abel';
    color: #FFFFFF;
}

img {
  height:auto;
  width:10vw;
  left:50%;
  margin-left:-1vw;
}

.menu:hover {
    background-color: #FFFFFF;
    color: black;
}

.software {
    bottom: 68vh;
    transition: all 1s;
}

.hardware {
    bottom: 55vh;
    transition: all 1.25s;
}

.aboutMe {
  bottom: 42vh;
  transition: all 1.5s;
}

.gallery {
  bottom: 29vh;
  transition: all 1.75s;
}

.goUp {
  position: fixed;
  bottom: 84vh;
  padding:10% 0 0 47%;
  background: transparent;
  z-index: 2;
  transition: opacity 1.5s linear;
  cursor: pointer;
}

.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}

.footer {
    position: absolute;
    top: 1600px;
}

.header {
    position: fixed;
    top: 0%;
  }
