body {
    background-color: #000;
    margin: 0;
    font-family: 'Abel';
    font-size: 30px;
    color: #FFFFFF;
}

h1 {
	text-align:center;
}

.project {
	border:solid;
	color:white;
	width: 100vw;
	height:10vh;
}