body {
    background-color: #000;
    margin: 0;
    font-family: 'Abel';
    font-size: 2.5vw;
    color: #FFFFFF;
}

h1 {
	text-align:center;
}

h2 {
	font-weight:normal;
	font-size:1vw;
	word-wrap: break-word;
}

.information{
	position:absolute;
	color:white;
	border-width: 5px;
	width: 40vw;
	height: 90vh;

	left:50%;
	top:50%;
	margin-left:-20vw;
	margin-top:-50vh;
	word-wrap: break-word;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Abel';
    font-size: 0.9vw;

    /*Button properties*/
    width:8vw;
    height:4vw;

    z-index: 3;
}

.resumeButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 10%;
  left:3vw;
}

.resumeButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.linkedInButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 10%;
  left:11vw;
}

.linkedInButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.githubButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 10%;
  left:19vw;
}

.githubButton:hover {
    background-color: #FFFFFF;
    color: black;
}

.homeButton {
  position:absolute;
  background-color: #000000;
  color: white;
  border: 0.2vh solid #FFFFFF;
  bottom: 10%;
  left:27vw;
}

.homeButton:hover {
    background-color: #FFFFFF;
    color: black;
}

